/* BASE DO APLICATIVO */
body{
  margin: 80px 0px 20px 7px;
  background-color: white; 
}

/* FONTE ESTILO */
@font-face{
  font-family: "Google Sans";
  src: url('fonts/GoogleSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

/* TITULO */
h1{
  position: relative;
  top: -8px;
  font-family: "Google Sans";
  font-size: 38px;
  text-align: center;
  font-weight: bold;
  color: rgb(0, 0, 0);
  z-index: 1;
}

/* INPUTS DE TEXTO */
input,select{
  width: 100%;
  border: none;
  background: transparent;
  font-family: "Google Sans";
  font-size: 28px;
}
input{
  position: relative;
  top: -10px;
  text-align: center;
  color: white;
}
::placeholder{
  color: rgba(255, 255, 255, 0.8);
}

/* REMOVER SETAS DA INPUTS */
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}
   input[type=number] { 
   -moz-appearance: textfield;
}

select{
  text-align: center;
  margin: 5% 0 5% 0;
}
select.sexo{
  margin: 5% 0 5% 0; 
}

/* BOTÕES */
button{
  margin: 20px 10px 0px 0px;
}

/* AJUSTE DOS ICONES */
#icon{
  position: relative;
  left: 28px;
  top: -15px;
}

/* MODELO DOS HEXAGONOS */
.hexagono {
      width: 117px;
      height: 64px;
      background: rgb(17, 173, 221);
      position: relative;
    }
    .hexagono:before {
      content: "";
      position: absolute;
      top: -30px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 58px solid transparent;
      border-right: 58px solid transparent;
      border-bottom: 30px solid rgb(17, 173, 221);
    }
    .hexagono:after {
      content: "";
      position: absolute;
      bottom: -30px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 58px solid transparent;
      border-right: 58px solid transparent;
      border-top: 30px solid rgb(17, 173, 221);
    }

/* ESPAÇO ENTRE OS HEXAGONOS */
.espaco-curto{
  margin: 20px 0px 20px 15px;
}
.espaco-longo{
  margin: 20px 0px 20px 81px;
}

/* ----- CORES DOS HEXAGONOS ------ */

/* TITULO */
.h-cor-1.hexagono {
      background: transparent;
    }
.h-cor-1.hexagono:before {
      border-bottom: 30px solid transparent;
    }
.h-cor-1.hexagono:after {
      border-top: 30px solid transparent;
    }

/* NADA */
.h-cor-2.hexagono {
      background: #CBD3D8;
    }
.h-cor-2.hexagono:before {
      border-bottom: 30px solid #CBD3D8;
    }
.h-cor-2.hexagono:after {
      border-top: 30px solid #CBD3D8;
    }

/*RESPOSTA*/
.h-cor-3.hexagono{
   background: rgb(169, 214, 46);
}
.h-cor-3.hexagono:before {
      border-bottom: 30px solid  rgb(169, 214, 46);
    }
.h-cor-3.hexagono:after {
      border-top: 30px solid rgb(169, 214, 46);
    }


